<!DOCTYPE html>
<html>
  <head>
    <title>Xenia</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyClV1-NCBi0URX5ftUxD8bX_E8reM-z-B8" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
