<!DOCTYPE html>
<html>
  <head>
    <title>Xenia</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyClV1-NCBi0URX5ftUxD8bX_E8reM-z-B8" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/595b8d2415.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet">
  </head>

  <body>

    <%= yield %>
  </body>
</html>
