<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="<%= asset_path('favicon.ico') %>" type="image/x-icon">
    <title>Xenia</title>
    <%= csrf_meta_tags %>


    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyClV1-NCBi0URX5ftUxD8bX_E8reM-z-B8&libraries=places" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/595b8d2415.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:100" rel="stylesheet">
  </head>

  <body>

    <%= yield %>
  </body>
</html>
